{% extends "base.html" %}
{% block title %}SG Transport - Train System{% endblock %}

{% block content %}
<section id="system">
    <div class="section-title" data-aos="zoom-out">
        <h2>System</h2>
        <p>System Map</p>
    </div>
    <img src="static/img/train map.png" class="image-fluid mx-auto d-block" alt="SG Train Map">
</section>

<section id="Lines">
    <div class="section-title" data-aos="zoom-out">  
        <h2>Lines</h2>
        <p>Rail Lines</p>
    </div>
    <h2>MRT Lines</h2>

   
    

</section>
{% endblock %}